{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="col-md-4 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Campanhas</div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Campanha</th>
                            <th>Participação</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for campanha in campanhas %}
                        <tr>
                            <td>{{ campanha.nome }}</td>
                            <td>{{ campanha.papel(usuario) }}</td>
                            {% if campanha.papel(usuario) == 'jogador' %}
                            <td><a href="#">Ver M</a></td>
                            {% elif campanha.papel(usuario) == 'jogador' %}
                            <td><a href="#">Ver J</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
             <div class="panel panel-default">
                <div class="panel-heading">Personagens</div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Classe</th>
                            <th>Campanha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for personagem in usuario.personagens %}
                        <tr>
                            <td>{{ personagem.nome }}</td>
                            <td>{{ personagem.classes }}</td>
                            <td>{{ personagem.campanha.nome }}</td>
                            <td><a href="#">Ver</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>
        </div>
    </div>
</div>
{% endblock %}