{% extends "base.html" %}
{% from "form_macro.html" import render_field %}
{% block content %}
<div class="container">
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <div class="col-md-6 col-md-offset-3">
            <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Login
                </div>
                <div class="panel-body">
                    {{ render_field(form.email) }}
                    {{ render_field(form.senha) }}
                    <div class="form-group">
                        <div class="col-md-10 pull-right">
                            <a href="/core/novo_usuario" class="btn btn-info">Novo? Cadastre-se</a>
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}