{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <h1 class="text-center">Personagens</h1>
    <hr>
    <div class="col-md-2">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li class="active">Personagens</li>
        </ol>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Classe</th>
                    <th>Campanha</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for personagem in usuario.personagens %}
                <tr>
                    <td>{{ personagem }}</td>
                    <td>{{ personagem.str_classes() }}</td>
                    <td>{{ personagem.mesa.campanha.nome }}</td>
                    <td><a href="#">Ver</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}